<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BeLifeEntities" connectionString="metadata=res://*/BeLifeEDM.csdl|res://*/BeLifeEDM.ssdl|res://*/BeLifeEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-L3HULKK\SQLEXPRESS;initial catalog=BeLife;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>